#############################################
#  Fuzzy search like in Sublime Text:       #
#  https://github.com/tajmone/fuzzy-search  #
#############################################

root = true


## Repository Configurations
############################
[.{git*,editorconfig,*.yml}]
end_of_line = lf
indent_style = space
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.gitmodules]
indent_style = tab


## Markdown GFM
###############
[*.md]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## AsciiDoc
###########
[*.{ad,adoc,asciidoc}]
indent_size = 2
indent_style = space
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Shell Scripts
################
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Plain-Text Files
###################
[{*.txt,LICENSE}]
indent_style = space
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true

[dataset/*.txt]
insert_final_newline = false

[{test_results,expected_results}.txt]
end_of_line = lf


## C++/JS Source Files
######################
[*.{cpp,h,js}]
indent_style = space
indent_size = 4
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; C-style doc comments:
block_comment_start = /*
block_comment = *
block_comment_end = */

[dataset/*.js]
insert_final_newline = false

# EOF #
