################################################################################
# A collection of algorithms for fuzzy search like in Sublime Text:            #
# https://github.com/tajmone/fuzzy-search                                      #
################################################################################

* text=auto

## ============
## Source Files
## ============
*.cs    text
*.ex    text eol=lf
*.h     text
*.js    text
*.lua   text

## ===================
## Documentation files
## ===================
*.md           text
*.txt          text
COPYING        text
LICENSE        text

## ===================
## Configuration files
## ===================
*.sublime-*    text
.editorconfig  text

## -------------
## Git settings:
## -------------
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text eol=crlf

# EOF #
