#############################################
#  Fuzzy search like in Sublime Text:       #
#  https://github.com/tajmone/fuzzy-search  #
#############################################

* text=auto

## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf


## Shell Scripts
################
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.sh    text eol=lf
*.ps1   text eol=crlf


## Source Files
###############
*.cs    text
*.ex    text eol=lf
*.fsx   text
*.h     text
*.js    text
*.lua   text
*.php   text
*.py    text


## Documentation Files
######################
*.asciidoc   text
*.md         text
*.txt        text
COPYING      text
LICENSE      text


## PureBasic Files
##################
[attr]PureBasic text linguist-language=PureBasic
*.cfg   text linguist-generated=true
*.pb    PureBasic
*.pbf   PureBasic
*.pbi   PureBasic
*.pbp   linguist-language=XML linguist-generated=true


## Zig Files
############
[attr]Zig text eol=lf
*.zig   Zig


## Exceptions
#############
/dataset/*.txt         text eol=lf  linguist-vendored
test_results.txt       text eol=lf  linguist-generated
expected_results.txt   text eol=lf  linguist-generated

## Linguist Settings
####################

# Manually define/override some file extension so that GitHub can
# 1) correctly gather statistics on source files, and
# 2) use proper syntax highlighting on GitHub's WebUI.

*.html                     linguist-documentation
article/forrest2016.html   linguist-generated

# EOF #
