################################################################################
# A collection of algorithms for fuzzy search like in Sublime Text:            #
# https://github.com/tajmone/fuzzy-search                                      #
################################################################################

* text=auto

## ============
## Source Files
## ============
*.cs    text
*.ex    text eol=lf
*.h     text
*.js    text
*.lua   text
*.php   text

## ===================
## Documentation files
## ===================
*.md           text
*.txt          text
COPYING        text
LICENSE        text

## ===================
## Configuration files
## ===================
*.sublime-*    text
.editorconfig  text

## -------------
## Git settings:
## -------------
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text eol=crlf

## ==========
## Exceptions
## ==========
/dataset/*.txt text eol=lf

# ==============================================================================
#                               Linguist Settings
# ==============================================================================
# Manually define/override some file extension so that GitHub and GitLab can
# 1) correctly gather statistics on source files, and
# 2) use proper syntax highlighting on GitHub's WebUI.

/dataset/*     linguist-vendored

# EOF #
